
.fa-trash{
    transition: color 0.2s;
}

.fa-trash:hover{
    color: darkred;
    cursor: pointer;
}

#root .form-check-input{
    cursor: pointer;
}

.form-check-label.done{
    text-decoration: line-through;
}

