<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTAWESOME -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css' integrity='sha512-FA9cIbtlP61W0PRtX36P6CGRy0vZs0C2Uw26Q1cMmj3xwhftftymr0sj8/YeezDnRwL9wtWw8ZwtCiTDXlXGjQ==' crossorigin='anonymous'/>
    <!-- BOOTSTRAP -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css' integrity='sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==' crossorigin='anonymous'/>
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="css/style.css">
    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- TITLE -->
    <title>Todo List</title>
</head>
<body>
    <div class="container py-5" id="root">
        <div class="row">
            <div class="col-6 offset-3 mb-5 text-center"><img src="img/logo.png" alt="boolean-logo" class="img-fluid w-50"></div>
            <div class="col-6 offset-3 mb-3">
                <div class="input-group mb-3">
                    <input ref="input" type="text" class="form-control" placeholder="Nuovo Task..." v-model.trim="newTask" @keyup.enter="addTask()">
                    <button class="btn btn-outline-success" type="button" id="button-addon2" @click="addTask()">Aggiungi</button>
                </div>
                <div class="input-group mb-3" v-if="tasks.length > 1">
                    <button class="btn btn-outline-danger" type="button" id="button-addon2" @click="clearSearch()"><i class="fa-solid fa-circle-xmark"></i></button>
                    <input ref="search" class="form-control" type="text" placeholder="Cerca" v-model="searchWord" @keyup.esc="clearSearch()">
                </div>
                  
            </div>
            <div v-if="tasks.length" class="col-6 offset-3 d-flex justify-content-center mb-3">
                <button class="btn btn-danger me-2" @click="clearAllTasks()"><i class="fa-solid fa-trash me-2"></i> Elimina tutto</button>
                <button class="btn me-2" :class="doneFilter ? 'btn-success' : 'btn-outline-success'" @click="toggleDoneFilter()">Solo Eseguiti</button>
                <button class="btn" :class="notDoneFilter ? 'btn-warning' : 'btn-outline-warning'" @click="toggleNotDoneFilter()">Solo Non Eseguiti</button>
            </div>
            <div class="col-6 offset-3 mb-3">
                <ul v-if="noAppliedFilters" class="list-group">
                    <li v-for="(task, i) in filteredArray" class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <input class="form-check-input me-3" type="checkbox" v-model="task.done" :id="'checkbox '+i" >
                            <label class="form-check-label" :class="{'done' : task.done}" :for="'checkbox '+i">{{ task.task }}</label>
                        </div>
                      <i class="fa-solid fa-trash" @click="removeTask(task.id)"></i>
                    </li>
                  </ul> 
                  <ul v-if="doneFilter" class="list-group">
                    <li v-for="(task, i) in doneFilteredArray" class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <input class="form-check-input me-3" type="checkbox" v-model="task.done" :id="'checkbox '+i" >
                            <label class="form-check-label" :class="{'done' : task.done}" :for="'checkbox '+i">{{ task.task }}</label>
                        </div>
                      <i class="fa-solid fa-trash" @click="removeTask(task.id)"></i>
                    </li>
                  </ul>
                  <ul v-if="notDoneFilter" class="list-group">
                    <li v-for="(task, i) in notDoneFilteredArray" class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <input class="form-check-input me-3" type="checkbox" v-model="task.done" :id="'checkbox '+i" >
                            <label class="form-check-label" :class="{'done' : task.done}" :for="'checkbox '+i">{{ task.task }}</label>
                        </div>
                      <i class="fa-solid fa-trash" @click="removeTask(task.id)"></i>
                    </li>
                  </ul>                             
            </div>
        </div>
    </div>
    <!-- JAVASCRIPT -->
    <script src="js/script.js"></script>
</body>
</html>